body {
    background-color: rgb(254, 255, 226);
    color: rgb(84, 58, 148);
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media (width <=450px){
}
@media (450px < width <=800){   
}
@media (width <=1200px){
}

.main-nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.nav-brand{
    align-self: center;
    font-size: 24px;
}
.nav-menu{
    display: flex;
    gap: 20px;
}
.main-nav ul{
    list-style: none;
}
.nav-menu a{
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
    margin: 20px;
    color: rgb(136, 0, 255);
    background-color: #2bff007a;
    border: solid 1px rgb(0, 255, 179);
    border-radius: 80px;
    cursor: pointer;
    transition: background-color .5s, color .5s, border .5s;
}
.nav-menu a:hover{
    background-color: rgb(182, 255, 164);
    color: rgb(56, 0, 105);
    border: solid 1px rgb(0, 0, 0);
    cursor: pointer;
}
a:visited{
    text-decoration: none;
}
.nav-toggle{
    display: none;
}

@media (max-width: 768px){
    .nav-brand{
        align-self: center;
        font-size: 36px;
    }
    .nav-menu{
        display: none;
    }
    .nav-menu.show{
        position: absolute;
        top: 75px;
        right:0px;
        left: 0px;
        background-color: gray;
        width: 100%;
        height: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: column;
        
    }
    .nav-menu a {
        margin: 20px;
        font-size: 20px;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        transition: background-color .5s, color .5s, border .5s;
    }
    .nav-toggle{
        position: absolute;
        top: 25px;
        right:20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 60px;
        height: 60px;
        padding: 6px;
        border: none;
        background-color: gray;
        border-radius: 5px;
        transition-duration: 0.8s;
    }
    span{
        margin: 3px;
        height: 5px;
        border-radius: 2px;
        background-color: white;
        display:block
    }

    .visually-hidden {
        position: absolute !important;
        width: 1px; 
        height: 1px; 
        padding:0; 
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;

    }

    .welcome-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
        padding: 20px;
        max-width: 800px;
    }

    .welcome {
        background-color: #3f00987a;
        border: solid 1px rgb(83, 0, 77);
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    photo-area{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        align-content: start;


    }

    .photo {
        background: #fff;
        border: 1px solid #e3e3e3;
        padding: 8px;
        min-height: 140px;
        display: flex; 
        align-items:center;
        justify-content: center;
        
    }

    .photo img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    a:focus, button:focus {
        outline: 3px solid#000;
        outline-offset: 2px;

     }


     @media (max-width: 480px){
        .welcome-grid{ grid-template-columns: 1fr;}
        }
     }



