@import url("https://use.typekit.net/kjc2rnh.css");
body {
  font-family: "costa", sans-serif;
}
body {
  background-image: url("/Final/background.png");
  background-size: cover;        
  background-position: center;  
  background-repeat: no-repeat;  
  background-attachment: fixed;   
  font-family: "costa", sans-serif;
  cursor: url("/Final/Crosshair\ Navy.cur"), auto;
}


#color1 {
  background-color: #464655;  
}
#color2 {
  background-color: #94958B;
}
#color3 {
  background-color: #B7B6C1;
}
#color4 {
  background-color: #D5CFE1;
}


p {
  font-size: 16px;
   color:#2B3A67;
}

.small-text {
  font-size: 12px;
   color:#D5CFE1;
}

h3 {
  font-size: 20px;
   color:#B7B6C1;
 
}
h2 {
  font-size: 24px;
   color:#2B3A67;
}
h1 {
  font-size: 28px;
   color:#2B3A67;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

a:hover {
  text-decoration: underline;
  color: rgb(73, 85, 125);
}

a:visited {
  color: rgb(123, 83, 106);
}

.styled-button {
  background-color: #464655;
  color: white;
  font-family: inherit;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.styled-button:hover {
  background-color: #94958B;
}
.top-rectangle {
  background-color: #2B3A67; 
  height: 30px;              
  width: 100%;               
}

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1000; 
  top: 0; 
  left: 0;
  background-color: #2B3A67; 
  overflow-x: hidden; 
  padding-top: 20px;
  transition: 0.4s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #acc0dF;
  display: block;
}

.sidenav a:hover {
  color: #ffffff;
  background-color:rgb(26, 27, 51);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 18px;
  font-size: 32px;
  background: none;
  border: none;
  color: #f1f1f1;
  cursor: pointer;
}

.menu-button {
  font-size: 30px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #464655;
  margin-right:10px;
}

header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-pic {
  border: 6px solid #464655;
  border-radius: 50%;
  display: block;
  max-width:100%;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  max-width: 700px;
}

ul li {
  color: #2B3A67; 
}




