* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--hue: 223deg;
	--gray1: hsl(var(--hue) 10% 95%);
	--gray9: hsl(var(--hue) 10% 15%);
	--black: hsl(0 0% 0%);
	--primary3: hsl(var(--hue) 90% 75%);
	--primary5: hsl(var(--hue) 90% 55%);
	--primary6: hsl(var(--hue) 90% 45%);
	--trans-dur: 0.3s;
	color-scheme: light dark;
	font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
}

body,
button {
	font: 1em / 1.5 "Londrina Solid", sans-serif;
	transition:
		background-color var(--trans-dur),
		color var(--trans-dur);
}

body {
	background-color: light-dark(var(--gray1), var(--gray9));
	color: light-dark(var(--gray9), var(--gray1));
	display: grid;
	place-items: center;
	height: 100vh;
}

.creepy-btn {
	background-color: var(--black);
	border-radius: 1.25em;
	color: var(--gray1);
	cursor: pointer;
	letter-spacing: 1px;
	min-width: 9em;
	outline: 0.1875em solid transparent;
	transition: outline 0.1s linear;
	-webkit-tap-highlight-color: transparent;

	&,
	&__cover,
	&__eye {
		position: relative;
	}

	&,
	&__pupil {
		background-color: var(--black);
	}

	&__cover,
	&__pupil {
		border-radius: inherit;
		display: block;
	}

	&__cover {
		background-color: var(--primary5);
		box-shadow: 0 0 0 0.125em var(--black) inset;
		padding: 0.5em 1em;
		inset: 0;
		transform-origin: 1.25em 50%;
		transition:
			background-color var(--trans-dur),
			transform var(--trans-dur) cubic-bezier(0.65, 0, 0.35, 1);
	}

	&__eye {
		animation: eye-blink 3s infinite;
		background-color: var(--gray1);
		border-radius: 50%;
		overflow: hidden;
		width: 0.75em;
		height: 0.75em;
	}

	&__eyes,
	&__pupil {
		position: absolute;
	}

	&__eyes {
		display: flex;
		align-items: center;
		gap: 0.375em;
		right: 1em;
		bottom: 0.5em;
		height: 0.75em;
	}

	&__pupil {
		aspect-ratio: 1;
		top: 50%;
		left: 50%;
		width: 0.375em;
		transform: translate(-50%, -50%);
	}

	&:focus-visible {
		outline: 0.1875em solid var(--primary3);
	}

	&:hover &__cover {
		background-color: var(--primary6);
	}

	&:focus-visible &__cover,
	&:hover &__cover {
		transform: rotate(-12deg);
		transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1.65);
	}

	&:active &__cover {
		transform: rotate(0);
		transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
	}
}

@keyframes eye-blink {
	0%,
	92%,
	100% {
		animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
		height: 0.75em;
	}

	96% {
		animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
		height: 0;
	}
}