button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid black;
  background: linear-gradient(to bottom, #e53935 50%, #ffffff 50%);
  position: relative;
  cursor: pointer;
  font-weight: bold;
}

button::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: white;
  border: 3px solid black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}
