body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #d93030 50%, #222 50%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
}

.game {
  background: rgba(0,0,0,0.3);
  padding: 20px 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display:none;
}

#pokemonImage {
  width: 200px;
  height: 200px;
  object-fit: contain;
  background: white;
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

#pokemonName {
  font-size: 20px;
  margin: 5px 0;
}

#message {
  height: 20px;
  margin-top: 5px;
}

button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid black;
  background: linear-gradient(to bottom, #e53935 50%, #fff 50%);
  position: r
}